* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f6fa;
}
.dashboard-layout{
    display: flex;
    min-height: calc(100vh - 0px);
}



.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.logo img {
    width: 30px;
}


.main {
    flex: 1;
    padding: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px 0;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.box {
    background: #fff;
    padding: 20px;
    margin-top: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.status {
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
}

.preparing {
    background: #e3f2fd;
    color: #1976d2;
}

.delivered {
    background: #e8f5e9;
    color: #2e7d32;
}

.ready {
    background: #ede7f6;
    color: #5e35b1;
}

.chart {
    display: flex;
    align-items: flex-end;
    gap: 15px;
    height: 200px;
    margin-top: 20px;
}

.chart div {
    flex: 1;
    background: #4285f4;
    color: #fff;
    text-align: center;
    border-radius: 5px 5px 0 0;
}
