body{
    margin:0;
    font-family: Arial;
    background:#f2f2f2;
}




.logo{
    width:75px;
    height:auto;
    vertical-align:middle;
}

.logo-text{
    font-size:22px;
    font-weight:bold;
    color:blue;
    vertical-align:middle;
}


.main{
    min-height: calc(100vh - 120px);
    padding-top:70px;
}


.card{
    width:380px;
    background:#fff;
    margin:0 auto;
    padding:25px 28px;
    border:1px solid #ddd;
    border-radius:6px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.card h2{
    text-align:center;
    margin:0;
    font-size:18px;
}

.info{
    text-align:center;
    font-size:12px;
    color:#555;
    margin:12px 0 18px;
    line-height:1.5;
}

label{
    display:block;
    font-size:12px;
    font-weight:bold;
    margin-bottom:6px;
}

.req{
    color:red;
}




.btn{
    width:100%;
    margin-top:12px;
    padding:10px;
    background:#165DFF;
    color:#fff;
    border:none;
    border-radius:5px;
    font-weight:bold;
    cursor:pointer;
}

.btn:hover{
    background:#0f4fe0;
}

.back{
    text-align:center;
    margin-top:14px;
    font-size:12px;
}

.back a{
    color:#165DFF;
    text-decoration:none;
}

.back a:hover{
    text-decoration:underline;
}

