body {
    margin: 0;
    font-family: Arial;
    background-color: #f2f2f2;
}




.logo {
    width: 75px;
    vertical-align: middle;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: blue;
}


.box {
    width: 350px;
    background-color: white;
    margin: 60px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

.box h3 {
    text-align: center;
}


input, select {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
}


input[type="submit"] {
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}


.link {
    text-align: center;
    font-size: 13px;
}

